body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-gradient-blue: linear-gradient(
    0deg,
    rgba(2, 48, 251) 0%,
    rgb(0, 191, 255) 100%
  );
  --bg-gradient-orange: linear-gradient(
    0deg,
    rgb(251, 97, 2) 0%,
    rgb(255, 174, 0) 100%
  );
  --navbar-bg: linear-gradient(0deg, rgb(2, 77, 251) 0%, rgb(0, 157, 255) 100%);
  --primary-color: rgb(13, 110, 253);
  --secondary-color: orange;
  --primary-color-hover: #0a58ca;
}

.custom-text-primary {
  color: var(--primary-color) !important;
}

.custom-text-secondary {
  color: var(--secondary-color) !important;
}

.custom-bg-secondary {
  background-color: var(--secondary-color) !important;
}

/* Common css */

/* Breadcrumb in admin section */
.breadcrumb {
  --bs-breadcrumb-divider: ">";
}

.breadcrumb-item,
.breadcrumb-item > *,
.breadcrumb-item.active {
  text-decoration: none;
  color: var(--primary-color-hover) !important;
}

.common-btn-font {
  font-weight: 500 !important;
}

.page-item:hover {
  cursor: pointer;
}

.nav-link:focus {
  color: white !important;
}

small {
  font-size: 0.775em !important;
}

/* scroll to top button */
.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  height: 20px;
  font-size: 2.5rem;
  z-index: 999;
  cursor: pointer;
  color: white;
}

.bi-arrow-up-short::before {
  background: var(--bg-gradient-blue);
  transition: 0.3s ease-in-out;
}

/* React toast */
.Toastify__toast-container {
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding-top: 21% !important;
  padding-right: 38% !important;
  padding-left: 38% !important;
  height: 100%;
  width: 100% !important;
}

.skyblue-bg {
  background: rgba(135, 207, 235, 0.25);
}

p {
  text-align: justify;
}

/* .bi-circle-fill::before {
  content: "\f287";
  font-size: 8px;
  padding-left: 4px;
  color: gray;
} */

/* Chrome, Safari, Edge, Opera */

/* Hide input-type-number buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* input box background color for chrome auto fill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

.form-control:focus,
.form-control,
.form-select:focus,
.form-select {
  box-shadow: none !important;
}

.min-100vh {
  min-height: 100vh !important;
}

.section-padding {
  padding: 3.9rem 0 0 0;
}

.wrapper {
  padding: 2rem 0;
}

/* Navbar */

.navbar {
  background: var(--navbar-bg);
  transition: 0.3s ease-in-out;
}

.header-scrolled {
  background: var(--navbar-bg) !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  transition: 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
  color: var(--secondary-color) !important;
}

.navbar .navbar-toggler {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: white !important;
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar .nav-link,
.offcanvas-body .nav-link {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.main-nav-dropdown-menu[data-bs-popper] {
  left: -120px !important;
  padding: 10px;
  width: 150px;
  transition: 0.3s ease-in-out;
}

.main-nav-dropdown-menu {
  border: 2px solid var(--primary-color-hover) !important;
}

/* Home */

.w-30 {
  width: 30% !important;
}

.w-22 {
  width: 22.5% !important;
}

.w-18 {
  width: 18% !important;
}

.home-wrapper {
  width: 100%;
  height: auto;
  min-height: 650px;
  background-image: url("images/images14.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
  position: relative;
}

.home-wrapper .home-top-row {
  display: flex;
  justify-content: center;
}

.home-wrapper .five-box-row {
  background-color: rgba(255, 255, 255, 0.658);
  height: 140px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.home-wrapper .five-section-col .inner-box {
  border-radius: 14px;
  border: 2px solid;
  min-width: 140px;
}

.home-wrapper .five-section-col .inner-box label {
  padding: 12px 0 12px 10px;
  font-weight: bold;
}

.home-wrapper .five-section-col .inner-box .select-div {
  display: flex;
  justify-content: center;
}

.home-wrapper .five-section-col .inner-box .select-div select {
  width: 98%;
  border-radius: 14px;
  background-color: transparent;
  box-shadow: none;
  border-color: none !important;
}

.home-wrapper .five-section-col .inner-box .select-div select:focus {
  border-color: rgba(128, 128, 128, 0.486) !important;
}

.home-wrapper .home-bottom-heading {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Property */

.property-wrapper {
  border-bottom: 1px solid skyblue;
}

.property-card-wrapper .card,
.admin-property-card-wrapper .card {
  background-color: transparent;
  border: none;
}

.property-card-wrapper .top-line,
.admin-property-card-wrapper .top-line {
  width: 100%;
  height: 10px;
  background: var(--secondary-color);
  border: 0 none;
  margin: 1rem 0;
}

.property-card-wrapper .card-body,
.admin-property-card-wrapper .card-body {
  padding: 1rem 0 !important;
}

/* View Property Details */

.property-full-details .property-info {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.view-property-main-img-div img {
  height: 80% !important;
}

.property-full-details .col-lg-10 {
  padding: 0 !important;
}

.property-icons-div {
  margin-top: 1rem;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
}

.property-icons-div .icons {
  height: 50px;
  width: 53px;
  background-color: #58575742;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.property-icons-div .icons:hover {
  background-color: #585757;
  color: white;
  transition: 0.3s ease-in-out;
}

.other-properties .card {
  padding: 1rem 2rem;
  background-color: #58575733;
  height: 122px;
}

/* Home about Us */

.about-home-link {
  color: black;
  transition: 0.2s ease-in-out;
}

.about-home-link:hover {
  color: var(--primary-color-hover);
  transition: 0.2s ease-in-out;
}

.home-about-wrapper .common-col {
  height: 320px;
}

.home-about-wrapper .common-col img {
  height: 100%;
  width: 100%;
}

.home-about-wrapper .about-details-col,
.home-about-wrapper .why-choose-us-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contact-bg-img {
  width: 100%;
  height: auto;
  min-height: 360px;
  background-image: url("images/bgblue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0;
  position: relative;
}

.contact-first-row {
  padding-left: 55px;
}

.contact-title {
  font-size: 3rem;
}

.contact-subtitle {
  font-size: 18px !important;
}

.contact-social-icons-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .contact-form .bi-person-vcard {
  font-size: 1.5rem;
  position: absolute;
  top: 2.89rem;
} */
/* 
.getintouch-text {
  padding-left: 2.2rem;
} */

.contact-form .contact-us-form-control,
.contact-form .contact-us-form-control:focus {
  border-radius: 0;
  border-color: var(--primary-color);
  font-size: 12px;
  padding: 13px;
}

/* CAPTCHA */

.flexAndCenter {
  display: flex;
  justify-content: center;
  border: 2px dotted var(--primary-color);
  padding: 1.7px 0px;
  align-items: center;
  height: 37px;
}

/* Footer */

.footer-bg {
  background: linear-gradient(
    0deg,
    rgba(2, 48, 251, 0.779) 0%,
    rgb(0, 157, 255) 100%
  ) !important;
}

.footer-wrapper {
  width: 100%;
}

.footer-wrapper .fluid-div {
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-icon-div,
.contact-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer-icon-div:hover,
.contact-icon-div:hover {
  transition: 0.3s ease-in-out;
  background-color: white;
}

.footer-icon-div:hover .footer-icon,
.contact-icon-div:hover .contact-icon {
  color: var(--secondary-color);
}

/* <----- Registration ----> */
.registration-wrapper .form-wrapper-card {
  border: none !important;
  position: relative;
}

.token-verify-link {
  position: absolute;
  bottom: 22px;
  right: 30px;
}

.form-text {
  font-size: 0.78em !important;
  margin-top: 0.1rem !important;
}

.toggle-label:hover {
  cursor: pointer;
  color: #337ab7;
  text-decoration: underline;
}

.registration-address-modal {
  --bs-modal-width: 700px !important;
}

/* Individual Registration */

.register-links a,
.address-label {
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 2px solid var(--primary-color);
  font-weight: 600;
}

.register-links a:hover,
.address-label:hover {
  border-color: var(--primary-color-hover);
}

.IndividualForm .btn-secondary,
.OrganizationForm .btn-secondary {
  background-color: rgba(211, 211, 211, 0.647) !important;
  border: none !important;
}

.IndividualForm .btn-secondary:hover,
.OrganizationForm .btn-secondary:hover {
  background-color: lightgray !important;
}

/* Login */

.login-wrapper .btn {
  width: 100px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.login-img {
  height: 100%;
  width: 88%;
}

.icon-eye-login {
  position: absolute;
  right: 1.5rem;
  bottom: 0.22rem;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.855);
  cursor: pointer;
}

.login-alert {
  position: relative;
}

.login-alert-close-btn {
  position: absolute;
  right: 1rem;
}

.bi {
  cursor: pointer;
}

/* Set Password */

.set-password-wrapper .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: unset !important;
  padding: 0.2rem 0.1rem !important;
}

.set-password-wrapper .form-control:focus {
  border-color: lightgray;
}

.icon-eye-setpass {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 21px;
  color: rgba(128, 128, 128, 0.855);
  cursor: pointer;
}

.password-condition {
  font-size: 10px;
}

.set-pass-img {
  height: 100%;
  width: 100%;
}

/* Reset Password */

.input-group > .form-control:focus {
  z-index: 0 !important;
}

.change-password-wrapper .input-group-text,
.login-wrapper .input-group-text {
  background-color: var(--primary-color);
  color: white;
}

.icon-eye-changePassword {
  position: absolute;
  right: 1rem;
  bottom: 0.21rem;
  font-size: 21px;
  color: rgba(128, 128, 128, 0.855);
  cursor: pointer;
}

.icon-lock-resetpass {
  position: absolute;
  bottom: 0;
}

.set-pass-img {
  height: 100%;
  width: 100%;
}

/* Verify Token */

.verify-token-img {
  height: 100%;
  width: 100%;
}

/* Edit Details */

.edit-details-wrapper label {
  font-weight: 600;
}

.editable-values {
  border: none !important;
  box-shadow: none !important;
  padding-left: 0 !important;
}

/* Profile */

.profile-inner-card {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.profile-inner-card:hover {
  color: white !important;
  border-color: white;
  background-color: var(--primary-color-hover);
  /* transform: scale(1.06); */
  transition: 0.3s ease-in-out;
}

/* Page Not Found */

.page-not-found-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("images/pagenotfound.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.page-not-found-wrapper h1 {
  color: #3f3d56;
}

.btn-home {
  background: #3f3d56 !important;
  color: white !important;
  transition: 0.3s ease-in-out !important;
}

.btn-home:hover {
  background: white !important;
  color: #3f3d56 !important;
  border-color: #3f3d56 !important;
  transition: 0.3s ease-in-out !important;
}

/* Access Denied */

.access-denied-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("images/access-denied.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/* Admin */

.scrollable-right-div {
  max-height: 100vh;
  overflow-y: scroll;
}

.admin-sidebar {
  background: var(--bg-gradient-blue);
  transition: 0.3s ease-in-out;
}

.custom-heading-color {
  color: #333649;
}

/* Admin Home Page */
.chart-wrapper {
  height: 380px !important;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* Edit Property */
.admin-property-edit-icon {
  right: 15px;
  top: 10px;
}

.csv-data-table {
  height: 400px;
  overflow-y: scroll;
}

.admin-top-card {
  background: var(--secondary-color) !important;
  transition: 0.3s ease-in-out;
  height: 125px !important;
  display: flex;
  justify-content: center;
}

.admin-top-card:hover {
  transition: 0.3s ease-in-out;
  background: white !important;
  border-color: var(--secondary-color);
  transform: scale(1.04);
}

.hover-color-secondary {
  transition: 0.3s ease-in-out;
}

.hover-color-secondary.icon {
  font-size: 2.5rem !important;
}

.admin-top-card:hover .hover-color-secondary {
  transition: 0.3s ease-in-out;
  color: var(--secondary-color) !important;
}

.admin-users-wrapper .dropdown-item {
  cursor: pointer !important;
  color: white;
}

.admin-users-wrapper .dropdown-item:hover {
  color: white;
  background-color: var(--primary-color);
}

.admin-users-wrapper .dropdown-menu.show {
  background: var(--primary-color-hover);
  border-color: white;
}

.users-btn {
  width: 200px;
  transition: 0.3s ease-in-out;
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.users-btn:disabled {
  opacity: 1 !important;
}

.users-btn:hover,
.users-btn.active {
  background-color: var(--primary-color-hover) !important;
  transition: 0.3s ease-in-out;
  color: white !important;
}

.admin-users-table {
  height: 200px;
}

.confirm-delete-modal {
  --bs-modal-width: 400px !important;
}
.confirm-delete-modal .modal-content {
  background: var(--bg-gradient-blue);
  color: white;
}

.users-admin .active > .page-link,
.users-admin .page-link.active {
  z-index: 3;
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.users-admin .page-link,
.users-admin .page-link:hover {
  color: var(--primary-color-hover);
}

.users-admin .active > .page-link:hover {
  color: white;
}

.upload-file-main-wrapper {
  background: var(--bg-gradient-blue);
}

.upload-file-inner-wrapper {
  color: white;
  border: 2px dashed lightgray;
}

.upload-file-inner-wrapper.active {
  border-color: white;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.upload-iocn {
  position: absolute;
  top: 0;
}

.upload-csv-file {
  opacity: 0;
  width: 100%;
  height: 35px;
  cursor: pointer;
}

.csv-data-table-wrapper {
  height: 500px;
  overflow-y: scroll;
}

.csv-data-table-wrapper .save-cancel-btn-div {
  bottom: 0;
  left: 12px;
  right: 11px;
  padding: 1rem 0.5rem;
  border-top: 1px solid white;
}

.sidebar-toggle-btn-sm {
  position: absolute;
  width: fit-content !important;
  top: 0.5rem;
  right: 0;
}

/* Media Queries */

@media (min-width: 768px) {
  .contact-form-wrapper {
    min-height: 0vh;
  }

  .contact-social-icons-wrapper {
    bottom: 98px;
    left: 58px;
  }

  .contact-form {
    position: absolute !important;
    right: 0rem;
    left: 0rem;
    top: -4rem;
  }

  .page-not-found-wrapper,
  .access-denied-wrapper {
    padding: 355px 0 0 0;
  }

  .page-not-found-wrapper h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 820px) {
  .page-not-found-wrapper,
  .access-denied-wrapper {
    padding: 435px 0 0 0;
  }
}

@media screen and (min-width: 912px) {
  .page-not-found-wrapper {
    padding: 525px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .five-section-col {
    flex: 0 0 auto !important;
  }

  .set-pass-img {
    height: 435px;
  }

  .login-img {
    height: 421px;
  }

  .contact-form {
    right: 1rem;
    left: 12rem;
    top: -8rem;
  }

  .contact-first-row {
    padding-left: 18px;
  }

  .contact-social-icons-wrapper {
    bottom: 24px;
    left: 18px;
  }

  .page-not-found-wrapper,
  .access-denied-wrapper {
    padding: 140px 0 0 0;
  }
}

@media (min-width: 1280px) {
  .set-pass-img {
    height: 441px;
  }

  .contact-form-wrapper {
    min-height: 50vh;
  }

  .contact-form {
    right: 0rem;
    left: 15rem;
    top: -10rem;
  }

  .page-not-found-wrapper,
  .access-denied-wrapper {
    padding: 235px 0 0 0;
  }
}

@media (min-width: 1300px) {
  .page-not-found-wrapper,
  .access-denied-wrapper {
    padding: 200px 0 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .csv-data-table {
    overflow: scroll !important;
  }
}

@media screen and (max-width: 992px) {
  .Toastify__toast-container {
    padding-top: 50% !important;
    padding-right: 30% !important;
    padding-left: 30% !important;
  }

  .home-wrapper {
    background-attachment: unset;
  }
  .w-22 {
    width: 24% !important;
  }
  .w-18 {
    width: 20% !important;
  }
  .token-verify-link {
    bottom: 10px;
    right: 15px;
  }
  .profile-wrapper .profile-details-div {
    height: 390px;
  }
  .profile-wrapper .circled-div {
    height: 120px !important;
  }
  .contact-wrapper {
    min-height: 88vh;
  }

  .admin-users-wrapper .table-wrapper {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767px) {
  small {
    font-size: 0.5em !important;
  }

  .Toastify__toast-container {
    padding-top: 70% !important;
    padding-right: 11% !important;
    padding-left: 11% !important;
  }

  .home-wrapper {
    padding: 100px 0 50px 0;
    background-attachment: fixed;
  }
  .home-wrapper .five-box-row {
    height: fit-content;
    padding: 2rem 0;
  }
  .five-section-col {
    width: 100% !important;
  }

  .profile-wrapper .profile-details-div {
    height: fit-content;
  }

  .property-icons-div .icons {
    height: 44px;
    width: 47px;
  }

  .profile-wrapper .circled-div {
    height: 106px !important;
  }

  .contact-bg-img {
    min-height: 279px;
  }

  .contact-first-row {
    padding-left: 0px;
  }

  .contact-title {
    font-size: 2.4rem;
  }

  .contact-social-icons-wrapper {
    bottom: 0.8rem;
    left: 0.2rem;
  }

  .page-not-found-wrapper,
  .access-denied-wrapper {
    background-size: contain;
  }

  .page-not-found-wrapper {
    padding: 80px 0 0 0;
  }

  .access-denied-wrapper {
    padding: 40px 0 0 0;
  }

  .btn-home {
    font-size: 14px !important;
  }
}
