body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-gradient-blue: linear-gradient(
    0deg,
    rgba(2, 48, 251) 0%,
    rgb(0, 191, 255) 100%
  );
  --bg-gradient-orange: linear-gradient(
    0deg,
    rgb(251, 97, 2) 0%,
    rgb(255, 174, 0) 100%
  );
  --navbar-bg: linear-gradient(0deg, rgb(2, 77, 251) 0%, rgb(0, 157, 255) 100%);
}

/* Common css */

small {
  font-size: 0.775em !important;
}

/* scroll to top button */
.scroll-top {
  position: fixed;
  right: 20px;
  bottom: 50px;
  height: 20px;
  font-size: 2.5rem;
  z-index: 999;
  cursor: pointer;
  color: white;
}

.bi-arrow-up-short::before {
  background: var(--bg-gradient-blue);
  transition: 0.3s ease-in-out;
}

/* React toast */
.toast-container {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(-50%) !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding-top: 21% !important;
  padding-right: 38% !important;
  padding-left: 38% !important;
  height: 100%;
  width: 100% !important;
}

.skyblue-bg {
  background: rgba(135, 207, 235, 0.25);
}

p {
  text-align: justify;
}

.bi-circle-fill::before {
  content: "\f287";
  font-size: 8px;
  padding-left: 4px;
  color: gray;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.common-btn {
  filter: drop-shadow(18px 18px 3px rgba(0, 0, 0, 0.4));
  color: #fff !important;
  font-size: 18px !important;
  background: var(--bg-gradient-blue);
  transition: 0.3s ease-in-out !important;
  border: 2px solid #c797eb !important;
  border-radius: 9px !important;
  font-weight: 600 !important;
}
.common-btn:hover {
  transform: scale(0.98);
  filter: drop-shadow(0px 0px 8px);
  transition: 0.3s ease-in-out;
}

.footer-bg {
  background: linear-gradient(
    0deg,
    rgba(2, 48, 251, 0.779) 0%,
    rgb(0, 157, 255) 100%
  ) !important;
}

.form-control:focus,
.form-control,
.form-select:focus,
.form-select {
  box-shadow: none !important;
}

.min-100vh {
  min-height: 100vh;
}

.section-padding {
  padding: 3.9rem 0 0 0;
}

.wrapper {
  padding: 2rem 0;
}

/* Navbar */
.navbar {
  background: var(--navbar-bg);
  transition: 0.3s ease-in-out;
}

.header-scrolled {
  background: var(--navbar-bg) !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  transition: 0.3s ease-in-out;
}

.nav-link.active,
.nav-link:hover {
  color: orange !important;
}

.navbar .navbar-toggler {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.5);
}

.navbar .navbar-brand,
.navbar-brand:focus,
.navbar-brand:hover {
  color: white !important;
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar .nav-item .nav-link {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

/* Home */
.home-wrapper {
  width: 100%;
  height: auto;
  min-height: 650px;
  background-image: url("images/images14.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 100px 0;
  position: relative;
}

.home-wrapper .home-top-row {
  display: flex;
  justify-content: center;
}

.home-wrapper .five-box-row {
  background-color: rgba(255, 255, 255, 0.658);
  height: 140px;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.home-wrapper .five-section-col .inner-box {
  border-radius: 14px;
  border: 2px solid;
  min-width: 140px;
}

.home-wrapper .five-section-col .inner-box label {
  padding: 12px 0 12px 10px;
  font-weight: bold;
}

.home-wrapper .five-section-col .inner-box .select-div {
  display: flex;
  justify-content: center;
}

.home-wrapper .five-section-col .inner-box .select-div select {
  width: 98%;
  border-radius: 14px;
  background-color: transparent;
  box-shadow: none;
  border-color: none !important;
}

.home-wrapper .five-section-col .inner-box .select-div select:focus {
  border-color: rgba(128, 128, 128, 0.486) !important;
}

.home-wrapper .home-bottom-heading {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

/* Property */

.property-card-wrapper .card,
.admin-property-card-wrapper .card {
  background-color: transparent;
  border: none;
}

.property-card-wrapper .top-line,
.admin-property-card-wrapper .top-line {
  width: 100%;
  height: 10px;
  background: orange;
  border: 0 none;
  margin: 1rem 0;
}

.property-card-wrapper .card-body,
.admin-property-card-wrapper .card-body {
  padding: 1rem 0 !important;
}

/* View Property Details */

.property-full-details .property-info {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.view-property-main-img-div img {
  height: 80% !important;
}

.property-full-details .col-lg-10 {
  padding: 0 !important;
}

.property-icons-div {
  margin-top: 1rem;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
}

.property-icons-div .icons {
  height: 50px;
  width: 53px;
  background-color: #58575742;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.property-icons-div .icons:hover {
  background-color: #585757;
  color: white;
  transition: 0.3s ease-in-out;
}

.other-properties .card {
  padding: 1rem 2rem;
  background-color: #58575733;
  height: 122px;
}

/* Home about Us */

.home-about-wrapper .common-col {
  height: 320px;
  width: 50% !important;
  padding: 0 !important;
}

.home-about-wrapper .common-col img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-about-wrapper .about-details-col,
.home-about-wrapper .why-choose-us-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contact */

.contact-bg-img {
  width: 100%;
  height: auto;
  min-height: 360px;
  background-image: url("images/bgblue.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0;
  position: relative;
}

.contact-first-row {
  padding-left: 55px;
}

.contact-title {
  font-size: 3rem;
}

.contact-subtitle {
  font-size: 18px !important;
}

.contact-social-icons {
  position: absolute;
  display: flex;
}

.contact-icon {
  color: white;
  font-size: 2.1rem;
  transition: 0.2s ease-in-out;
}

.contact-icon:hover {
  transform: scale(1.4);
  transition: 0.2s ease-in-out;
}

.contact-form .bi-person-vcard {
  font-size: 1.5rem;
  position: absolute;
  top: 2.89rem;
}

.getintouch-text {
  padding-left: 2.2rem;
}

.contact-form .form-control,
.contact-form .form-control:focus {
  border-radius: 0;
  border-color: rgba(220, 220, 220, 0.4);
  background: rgba(220, 220, 220, 0.4);
  font-size: 12px;
  padding: 13px 0 13px 13px;
}

/* Footer */

.footer-wrapper {
  width: 100%;
}

.footer-wrapper .fluid-div {
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
  background-color: orange;
  margin: 0 10px;
}

.footer-icon i {
  transition: 0.2s ease-in-out;
}

.footer-icon:hover i {
  transform: scale(1.08);
  transition: 0.2s ease-in-out;
}

/* <----- Registration ----> */
.registration-wrapper .form-wrapper-card {
  border: none !important;
  position: relative;
}

.token-verify-link {
  position: absolute;
  bottom: 22px;
  right: 30px;
}

.form-text {
  font-size: 0.78em !important;
  margin-top: 0.1rem !important;
}

.toggle-label:hover {
  cursor: pointer;
  color: #337ab7;
  text-decoration: underline;
}

/* Individual Registration */

.SamTermsConditionsRow a {
  color: blueviolet;
  text-decoration: none;
  border-bottom: 1px solid blueviolet;
  font-weight: 600;
}

.IndividualForm .btn-secondary,
.OrganizationForm .btn-secondary {
  background-color: rgba(211, 211, 211, 0.647) !important;
  border: none !important;
}

.IndividualForm .btn-secondary:hover,
.OrganizationForm .btn-secondary:hover {
  background-color: lightgray !important;
}

/* Login */

.login-wrapper .btn {
  width: 100px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.login-img {
  height: 100%;
  width: 88%;
}

.icon-eye-login {
  position: absolute;
  right: 1.5rem;
  bottom: 0.22rem;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.855);
  cursor: pointer;
}

.login-alert {
  position: relative;
}

.login-alert-close-btn {
  position: absolute;
  right: 1rem;
}

.bi {
  cursor: pointer;
}

.w-30 {
  width: 30% !important;
}

.w-22 {
  width: 22.5% !important;
}

.w-18 {
  width: 18% !important;
}

/* Reset Password */

.reset-password-wrapper .form-control {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: unset !important;
  padding: 0.2rem 0.1rem !important;
}

.reset-password-wrapper .form-control:focus {
  border-color: lightgray;
}

.icon-eye {
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  font-size: 21px;
  color: rgba(128, 128, 128, 0.855);
  cursor: pointer;
}

.password-condition {
  font-size: 10px;
}

.reset-pass-img {
  height: 100%;
  width: 100%;
}

/* Verify Token */

.verify-token-img {
  height: 100%;
  width: 100%;
}

/* Profile */

.profile-wrapper .profile-details-div {
  height: 360px;
}

.profile-wrapper .circled-div {
  border-radius: 50% !important;
  height: 134px !important;
  width: 100% !important;
  font-weight: bold;
  font-size: 18px;
}

.profile-wrapper .fourth-div-btn {
  width: 88%;
}

.bg-outline-warning {
  border: 2px solid yellow;
  background-color: rgba(255, 255, 0, 0.251);
}

/* Edit Details */

.edit-details-wrapper label {
  font-weight: 600;
}

.editable-values {
  border: none !important;
  box-shadow: none !important;
  padding-left: 0 !important;
}

/* Page Not Found */

.page-not-found-wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url("images/pagenotfound.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.page-not-found-wrapper h1 {
  color: #3f3d56;
}

.btn-home {
  background: #3f3d56 !important;
  color: white !important;
  transition: 0.3s ease-in-out !important;
}

.btn-home:hover {
  background: white !important;
  color: #3f3d56 !important;
  border-color: #3f3d56 !important;
  transition: 0.3s ease-in-out !important;
}

/* Admin */

.admin-sidebar .nav-link {
  color: white;
}

.scrollable-right-div {
  max-height: 100vh;
  overflow-y: scroll;
}

.admin-sidebar {
  background: #333649;
  transition: 0.3s ease-in-out;
}

/* Edit Property */
.admin-property-edit-icon {
  right: 15px;
  top: 10px;
}

.csv-data-table {
  height: 400px;
  overflow-y: scroll;
}

.admin-dashboard-count {
  font-size: 3.8rem;
  font-weight: bold;
  color: white;
}

.admin-top-cards:hover .admin-dashboard-count {
  color: orange;
}

.admin-home-wrapper .fs-1 {
  font-size: 4.5rem !important;
}

.admin-top-cards {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  background-color: orange !important;
}

.admin-top-cards:hover {
  transition: 0.3s ease-in-out;
  background-color: white !important;
  border-color: orange;
  transform: scale(1.06);
}

.admin-top-cards:hover .blue-on-hover {
  color: orange !important;
}

.admin-users-wrapper .dropdown-item {
  cursor: pointer !important;
  color: white;
}

.admin-users-wrapper .dropdown-item:hover {
  color: white;
  background-color: #212529;
}

.admin-users-wrapper .dropdown-menu.show {
  background: #2c3034;
  border-color: white;
}

/* Media Queries */

@media (min-width: 768px) {
  .contact-form-wrapper {
    min-height: 0vh;
  }

  .contact-social-icons {
    bottom: 98px;
    left: 70px;
  }

  .contact-form {
    position: absolute !important;
    right: 0rem;
    left: 2.59rem;
    top: -4rem;
  }

  .page-not-found-wrapper {
    padding: 355px 0 0 0;
  }

  .page-not-found-wrapper h1 {
    font-size: 60px;
  }
}

@media screen and (min-width: 820px) {
  .page-not-found-wrapper {
    padding: 435px 0 0 0;
  }
}

@media screen and (min-width: 912px) {
  .page-not-found-wrapper {
    padding: 525px 0 0 0;
  }
}

@media (min-width: 1024px) {
  .five-section-col {
    flex: 0 0 auto !important;
  }

  .contact-social-icons {
    bottom: 48px;
    left: 70px;
  }

  .reset-pass-img {
    height: 435px;
  }

  .login-img {
    height: 515px;
  }

  .contact-form-wrapper {
    min-height: 70vh;
  }

  .contact-form {
    right: 2rem;
    left: 14rem;
    top: -8rem;
  }

  .page-not-found-wrapper {
    padding: 140px 0 0 0;
  }
}

@media (min-width: 1280px) {
  .col-xl-4 {
    width: 32% !important;
  }

  .reset-pass-img {
    height: 441px;
  }

  .contact-form-wrapper {
    min-height: 50vh;
  }

  .contact-form {
    right: 7rem;
    left: 21rem;
    top: -10rem;
  }

  .page-not-found-wrapper {
    padding: 235px 0 0 0;
  }
}

@media (min-width: 1300px) {
  .page-not-found-wrapper {
    padding: 200px 0 0 0;
  }
}

@media screen and (max-width: 1280px) {
  .csv-data-table {
    overflow: scroll !important;
  }
  .admin-home-wrapper .fs-1 {
    font-size: 3.8rem !important;
  }
  .admin-dashboard-count {
    font-size: 3.4rem;
  }
}

@media screen and (max-width: 992px) {
  .toast-container {
    padding-top: 50% !important;
    padding-right: 30% !important;
    padding-left: 30% !important;
  }

  .home-wrapper {
    background-attachment: unset;
  }
  .w-22 {
    width: 24% !important;
  }
  .w-18 {
    width: 20% !important;
  }
  .token-verify-link {
    bottom: 10px;
    right: 15px;
  }
  .profile-wrapper .profile-details-div {
    height: 390px;
  }
  .profile-wrapper .circled-div {
    height: 120px !important;
  }
  .contact-wrapper {
    min-height: 88vh;
  }

  .admin-users-wrapper .table-wrapper {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 767px) {
  small {
    font-size: 0.5em !important;
  }

  .toast-container {
    padding-top: 70% !important;
    padding-right: 11% !important;
    padding-left: 11% !important;
  }

  .home-wrapper {
    padding: 100px 0 50px 0;
    background-attachment: fixed;
  }
  .home-wrapper .five-box-row {
    height: fit-content;
    padding: 2rem 0;
  }
  .five-section-col {
    width: 100% !important;
  }

  .home-about-wrapper .common-col {
    width: 100% !important;
  }

  .profile-wrapper .profile-details-div {
    height: fit-content;
  }

  .property-icons-div .icons {
    height: 44px;
    width: 47px;
  }

  .profile-wrapper .circled-div {
    height: 106px !important;
  }

  .contact-bg-img {
    min-height: 279px;
  }

  .contact-form-wrapper {
    min-height: 100vh;
  }

  .contact-first-row {
    padding-left: 0px;
  }

  .contact-title {
    font-size: 2.4rem;
  }

  .contact-social-icons {
    bottom: 1rem;
    left: 0.8rem;
  }

  .page-not-found-wrapper {
    background-size: contain;
  }

  .page-not-found-wrapper {
    padding: 80px 0 0 0;
  }

  .btn-home {
    font-size: 14px !important;
  }
}
